* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 85%;
  margin: 0 auto;
}
body {
  background-color: #ffe6d7;
}
a {
  text-decoration: none;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  color: #446381;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: rgba(12, 5, 242, 0.541);
  color: white;
}
button:hover {
  transition: all 0.5s ease;
  color: #000000;
  box-shadow: 0 80px #ffffff inset !important;
  transition: all 1s ease;
}
button:active {
  transform: scale(0.85);
}
.section {
  margin: 40px 0;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.text a {
  font-size: 20px;
  color: #446381;
}
.text h1 {
  font-size: 65px;
  color: #eb8382;
}
.text h3 {
  width: 500px;
  font-size: 65px;
  color: #eb8382;
}
.text h2 {
  font-size: 60px;
  color: #446381;
}
.text p {
  width: 410px;
  color: #826f8c;
  line-height: 20px;
}
.arrow {
  position: absolute;
  left: 170px;
  top: 150px;
}
.x {
  position: absolute;
  left: 250px;
  bottom: 70px;
}
.cry {
  position: absolute;
  right: 20px;
  top: 300px;
}
.arow {
  position: absolute;
  right: 450px;
  bottom: 150px;
}
.aow {
  position: absolute;
  bottom: 150px;
  left: 400px;
}
.dots {
  position: absolute;
  right: -10px;
  top: 300px;
  z-index: -1;
}
.our {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}
.our p {
  font-size: 20px;
  color: #826f8c;
  line-height: 20px;
}
.our h1 {
  width: 500px;
  font-size: 65px;
  color: #eb8382;
}
.last {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  margin: 40px 20px;
  position: relative;
  width: 300px;
  height: 500px;
  background-color: #fbdacf;
  border: none;
  border-radius: 20px;
  padding: 40px;
}
.box p {
  font-size: 30px;
  color: #446381;
}
.box h1 {
  font-size: 60px;
  color: #eb8382;
  font-weight: 400;
}
li {
  font-size: 25px;
  color: #826f8c;
  line-height: 50px;
  margin-left: 20px;
}
.box button {
  background-color: rgba(43, 120, 255, 0.595);
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
}
.box button:hover {
  color: #000000;
  box-shadow: 0 80px #ffffff inset !important;
  transition: all 1s ease;
}
.per {
  position: absolute;
  left: 230px;
  top: 134px;
}
.pert {
  position: absolute;
  left: 255px;
  top: 144px;
}
.pere {
  position: absolute;
  left: 255px;
  top: 134px;
}
/* digse */
.block {
  margin: 40px 20px;
  position: relative;
  width: 300px;
  height: 500px;
  border: none;
  border-radius: 20px;
  padding: 40px;
}
.block p {
  font-size: 30px;
  color: #ffffff;
  z-index: 1;
}
.block h1 {
  font-size: 70px;
  color: #eb8382;

  font-weight: 400;
}

.block li {
  font-size: 25px;
  color: #ffffff;
  line-height: 50px;
  margin-left: 20px;
}
.block button {
  background-color: rgba(43, 120, 255, 0.595);
  width: 280px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
}
.block button:hover {
  color: #000000;
  box-shadow: 0 80px #ffffff inset !important;
  transition: all 1s ease;
}
.badge {
  position: absolute;
  right: 20px;
  top: 10px;
}
.back {
  position: absolute;
  right: 2px;
  top: -10px;
  z-index: -1;
}
#footer {
  border-top: 2px solid rgba(0, 0, 0, 0.199);
}
.footer {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lasttext h1 {
  color: #826f8c;
  font-size: 16px;
}
span {
  font-size: 30px;
}
